$BFI1: #00a651;
$BFI2: #a6ce39;
$text: #193C2A;

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn img {
    border-radius: 100px !important;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-gap: 20px 20px;
    width: 100%;
    justify-content: center;
}
.music-card {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    // background: linear-gradient(180deg, $BFI2, $BFI1);
    background: #eeeeee;
    // box-shadow: 0px 0px 12px -6px #000000;
    padding: 25px 20px;
    text-align: center;
}

.music-card > img {
    width: 200px;
    height: 200px;
    background-size: center;
}

.iconImage {
    font-size: 100px;
    display: inline-block;
    width: 100%;
}

.music-card > h4 {
    font-size: 14px;
    margin: 10px 0px 5px;
}

.music-card > p {
    width: 200px;
    height: 12px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    font-size: 12px;
}

// .music-card:hover {
//     // opacity: 0.5;
// }

@media (max-width: 1800px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px 10px;
        width: 90%;
        align-self: center;
    }
}
@media (max-width: 1500px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px 10px;
        width: 90%;
        align-self: center;
    }
}
@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 10px;
        width: 90%;
        align-self: center;
    }
}
@media (max-width: 800px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px 10px;
        width: 90%;
        align-self: center;
    }
    .music-card {
        box-sizing: border-box;
        width: 500px;
        height: 300px;
        border-radius: 15px;
        background: linear-gradient(180deg, $BFI2, $BFI1);
        box-shadow: 2px 4px 10px -6px #000000;
        padding: 25px 20px;
        text-align: center;
    }
}


// Player Footer

#cs_audio {
    display: none;
}

#cs_audioplayer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    background-color: #535353;
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
// KENN'S WORK
$BFI1: #00a651;
$BFI2: #a6ce39;
$BG: #ECF2EA;
$main: #193C2A;
$sub: #6D7571;
$common: #A0B0A5;
$hover: #f5fcf3;
$emphasize_main: #FF5C00;
$emphasize: #FF833D;
$critical: #E84D2E;

.sidenav {
    // user-select: none;
    &__layout {
        background: $BG;
        // border: 1px solid yellow;
        width: 100%;
        height: 100vh;
    }
    &__body {
        width: 100%;
        height: 100vh;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bar {
        // border: 1px solid pink;
        height: 100%;
        width: 300px;
        padding: 25px;
        user-select: none;
    }
    &__logo {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        // border: 1px solid red;
        font-family: font_BL;
        font-size: 20px;
        color: $main;
        white-space: nowrap;
        margin-bottom: 25px;
    }
    &__img {
        image-rendering: auto;
        background-image: url("../bfi_gradient.png");
        background-position: center;
        background-size: 45px;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
    &__nav {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        width: 100%;
        margin-bottom: 10px;
        transition: 0.2s;
        cursor: pointer;
        color: $main;
        padding-left: 15px;
        border-radius: 10px;
        font-family: font_B;
        font-size: 14px;
        &:hover {
            transition: 0.2s;
            color: white;
            background: $common;
            box-shadow: 0px 4px 20px -5px #193c2a5c;
        }
    }
    &__active {
        transition: 0.3s;
        color: white;
        background: $common;
        box-shadow: 0px 4px 20px -5px #193c2a5c;
    }
    &__content {
        width: 100%;
        height: 100%;
    }
    &__footer {
        // border: 1px solid red;
        position: fixed;
        bottom: 0;
        height: 150px;
        width: 100%;
        padding: 25px;
    }
}
.nav {
    &__icon {
        // border: 1px solid red;
        height: 30px;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text {
        // border: 1px solid red;
        height: 30px;
        width: 100%;
        padding-left: 10px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.pages {
    &__add {
        position: fixed;
        z-index: 1;
        bottom: 45px;
        right: 50px;
        height: 60px;
        width: 60px;
        background: $BFI1;
        color: white;
        font-size: 25px;
        transition: 0.2s;
        border-radius: 100px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            background: $BFI2;
        }
    }
    &__layout {
        background: $BG;
        padding: 25px;
        padding-left: 25px;
    }
    &__header {
        width: 100%;
        height: 50px;
        margin-bottom: 25px;
        // border: 1px solid red;
        display: flex;
        user-select: none;
    }
    &__header1 {
        width: 50%;
        height: 50px;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 25px;
    }
    &__header2 {
        width: 50%;
        height: 50px;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 25px;
    }
    &__searchBar {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: font_M;
        color: $main;
    }
    &__searchIcon {
        height: 40px;
        width: 40px;
        background: white;
        border-radius: 100px 0 0 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__searchInput {
        border: 0;
        height: 40px;
        width: 400px;
        border-radius: 0 100px 100px 0;
        font-family: font_M;
        outline: 0;
        &::placeholder {
            color: $sub;
        }
    }
    &__logout {
        width: 40px;
        height: 40px;
        color: white;
        background: $common;
        border-radius: 100px;
        font-size: 14px;
        transition: 0.2s;
        &:hover {
            transition: 0.2s;
            background: $main;
        }
    }
    &__content {
        width: 100%;
        height: fit-content;
        // border: 1px solid red;
    }
    &__body {
        height: calc(100vh - 250px);
        width: 100%;
        // border: 1px solid red;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__body2 {
        height: calc(100vh - 550px);
        width: 100%;
        // border: 1px solid red;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.covers {
    &__card {
        // border: 1px solid red;
        display: inline-block;
        width: calc(100% / 6);
        height: calc(100% / 3);
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 25px;
        padding-left: 25px;
        // padding-right: 1%;
        // padding-left: 1%;
        
    }
    &__box {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &__img {
        box-shadow: 0px 4px 20px -5px #193c2a5c;
        border-radius: 10px;
        outline-style: solid;
        outline-color: white;
        outline-width: 5px;
        transition: 0.2s;
        &:hover {
            box-shadow: 0px 4px 30px -5px #193c2a;
            transition: 0.2s;
        }
    }
    &__text {
        // border: 1px solid red;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        color: $main;
    }
    &__title {
        font-family: font_BL;
        font-size: 14px;
    }
    &__sub {
        font-family: font_R;
        font-size: 12px;
        color: $sub;
    }
}
.music {
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: white;
        box-shadow: 0px 4px 20px -5px #193c2a5c;
        border-radius: 10px;
        height: 50px;
        min-width: 100%;
        font-family: font_BL;
        font-size: 14px;
        color: $main;
        padding-left: 25px;
        padding-right: 25px;
    }
    &__head1 {
        // border: 1px solid red;
        min-width: 125px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__head2 {
        // border: 1px solid red;
        // min-width: 500px;
        min-width: 35%;
        // width: calc(100% / 3);
        height: 50px;
        display: flex;
        align-items: center;
    }
    &__head3 {
        // border: 1px solid red;
        min-width: 25%;
        // width: calc(100% / 3);
        height: 50px;
        display: flex;
        align-items: center;
    }
    &__head4 {
        // border: 1px solid red;
        min-width: 25%;
        // width: calc(100% / 3);
        height: 50px;
        display: flex;
        align-items: center;
    }
    &__body {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        height: calc(100vh - 300px);
    }
    &__scrollY {
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__bodyTable {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // border: 1px solid red;
        height: 50px;
        min-width: 100%;
        font-family: font_B;
        font-size: 12px;
        color: $main;
        // background: #193c2a0a;
        // background: white;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
            transition: 0.2s;
            color: white;
            background: $common;
            box-shadow: 0px 4px 20px -5px #193c2a5c;
        }
        margin-top: 10px;
    }
    &__playing {
        transition: 0.2s;
        color: white;
        background: $common;
        box-shadow: 0px 4px 20px -5px #193c2a5c;
    }
}
.special {
    &__div1 {
        // border: 1px solid red;
        min-width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__div2 {
        // border: 1px solid red;
        min-width: 70px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.track {
    &__img {
        // min-width: 40px;
        // min-height: 40px;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // // background: white;
        border-radius: 8px;
        background: white;
    }
}
.player {
    &__timeProgress {
        color: $common;
    }
    &__layout {
        background: white;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        box-shadow: 0px 4px 20px -5px #193c2a5c;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__div1 {
        // border: 1px solid red;
        width: calc(100% / 2.5);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__div2 {
        // border: 1px solid red;
        width: calc(100% / 5);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__div3 {
        // border: 1px solid red;
        width: calc(100% / 2.5);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__trackImg {
        // border-radius: 1px solid red;
        // min-height: 75px;
        // min-width: 75px;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        border-radius: 10px;
        // border: 1px solid $sub;
        margin-left: 13px;
        margin-right: 30px;
    }
    &__trackTitle {
        color: $main;
        font-family: font_B;
        font-size: 18px;
        width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__trackSub {
        color: $sub;
        font-family: font_M;
        font-size: 12px;
        width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__btn {
        color: $common;
        font-size: 25px;
        // border: 1px solid red;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__PlayPause {
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $common;
        color: white;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 100px;
        cursor: pointer;
    }
}
.modal {
    &__layout {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #193c2a5c;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__close {
        cursor: pointer;
    }
    &__container {
        background: white;
        border-radius: 20px;
        width: 900px;
        min-height: 500px;
        height: fit-content;
        min-height: 500px;

        animation: scaler ease-in-out 0.2s;
    }
    @keyframes scaler {
        0% {
          transform: scale(0.4);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
    &__header {
        // border: 1px solid red;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    &__header1 {
        // border: 1px solid red;
        width: 50%;
        height: 100%;
        text-align: left;
        font-size: 20px;
        font-family: font_B;
        color: $main;
    }
    &__header11 {
        // border: 1px solid red;
        width: 50%;
        height: 100%;
        text-align: left;
        font-size: 20px;
        font-family: font_B;
        color: $emphasize_main;
    }
    &__header2 {
        // border: 1px solid red;
        width: 50%;
        height: 100%;
        text-align: right;
        color: $sub;
    }
    &__body {
        // border: 1px solid red;
        width: 100%;
        height: 300px;
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__trackImg {
        border: 0px;
        background: $BG;
        border-radius: 10px;
        outline: 0;
    }
    &__uploadCover {
        border: 0;
        background: transparent;
        position: absolute;
        top: calc(100% / 50%);
        height: 300px;
        width: 300px;
        color: $sub;
        // right: 0px;
    }
    &__trackInfo {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        padding-left: 10px;
    }
    &__trackTitle {
        border: 0;
        font-size: 30px;
        font-family: font_B;
        color: $main;
        outline: 0;
        border-bottom: 2px solid transparent;
        transition: 0.2s;
        // border-radius: 5px;
        padding-left: 25px;
        width: 100%;
        &::placeholder {
            color: $common;
        }
        &:hover {
            transition: 0.2s;
            border-bottom: 2px solid $common;
        }
    }
    &__select {
        // border: 1px solid red;
        width: 100%;
        height: 40px;
        font-size: 18px;
        font-family: font_M;
        color: $main;
    }
    &__display {
        // margin: 0;
        // border: 1px solid red;
        margin-top: 10px;
        padding-left: 25px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        transition: 0.2s;
        border-bottom: 2px solid transparent;
        // border-radius: 5px;
        // background: $BG;
        cursor: pointer;
        &:hover {
            border-bottom: 2px solid $common;
            transition: 0.2s;
            // box-shadow: 0px 4px 20px -5px #193c2a5c;
        }
    }
    &__optionHolder {
        background: white;
        box-shadow: 0px 4px 20px -5px #193c2a5c;
        width: 100%;
        min-height: fit-content;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        z-index: 2;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__options {
        background: transparent;
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: white;
            background: $common;
            transition: 0.2s;
        }
    }
    &__uploadTrack {
        border: 0;
        border-radius: 6px;
        background: $BG;
        color: $sub;
        font-family: font_M;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 106px;
    }
    &__footer {
        // border: 1px solid red;
        width: 100%;
        height: 100px;
        padding: 20px;
        display: flex;
    }
    &__footer1 {
        // border: 1px solid red;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
        color: $main;
        font-family: font_B;
        font-size: 2px;
    }
    &__footer2 {
        // border: 1px solid red;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
    }
    &__buttonCancel {
        border: 0;
        padding-right: 10px;
        height: 40px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        transition: 0.2s;
        color: $main;
        background: #0000002e;;
        &:hover {
            color: white;
            transition: 0.2s;
            background: $common;
        }
    } 
    &__buttonSave {
        border: 0;
        padding-right: 10px;
        height: 40px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        border-radius: 5px;
        transition: 0.2s;
        color: white;
        background: #193c2ac2;
        &:hover {
            color: white;
            transition: 0.2s;
            background: $BFI1;
        }
    } 
    &__buttonSave2 {
        border: 0;
        padding-right: 10px;
        height: 40px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        border-radius: 5px;
        transition: 0.2s;
        color: white;
        background: $emphasize;
        &:hover {
            color: white;
            transition: 0.2s;
            background: $emphasize_main;
        }
    } 
}
.play {
    &__layout {
        // border: 1px solid red;
        width: 100%;
        height: fit-content;
    }
    &__header {
        // border: 1px solid red;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    &__header1 {
        // border: 1px solid red;
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: font_B;
        font-size: 18px;
        color: $main;
    }
    &__header2 {
        // border: 1px solid red;
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__buttons {
        border: 0;
        border-radius: 5px;
        background: $common;
        color: white;
        font-size: 14px;
        font-family: font_M;
        transition: 0.2s;
        padding: 6px 20px;
        margin-left: 15px;
        &:hover {
            transition: 0.2s;
            background: $main;
        }
    }
    &__topTrack {
        // border: 1px solid red;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
    }
    &__tracks {
        // border: 1px solid red;
        // padding-left: 25px;
        // padding-right: 25px;
        width: 100%;
        height: 50px;
    }
    &__tracksContainer {
        // padding-left: 25px;
        // padding-right: 25px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background: #ffffffb4;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 16px;
        &:hover {
            background: $common;
            transition: 0.2s;
        }
    }
    &__img {
        border-radius: 5px;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 40px;
        // height: 40px;
        margin-right: 20px;
        margin-left: 5px;
    }
    &__title {
        font-size: 12px;
        font-family: font_M;
        color: $main;
    }
    &__titleX {
        font-family: font_B;
    }
    &__sub {
        font-size: 10px;
        font-family: font_M;
        color: $main;
    }
    &__top {
        background: white;
        padding: 10px;
        width: 100%;
        height: 85px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 0px 4px 20px -5px #193c2a5c;
        &:hover {
            background: $common;
            transition: 0.2s;
        }
    }
    &__topImg {
        border-radius: 5px;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 65px;
        // height: 65px;
        margin-right: 20px;
    }
    &__topTitle {
        font-size: 18px;
        font-family: font_B;
        color: $main;
    }
    &__topSub {
        font-size: 12px;
        font-family: font_M;
        color: $main;
    }
    &__track1 {
        // border: 1px solid red;
        width: 45%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    &__track2 {
        // border: 1px solid red;
        width: 13.75%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__track3 {
        // border: 1px solid red;
        width: 13.75%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__track4 {
        // border: 1px solid red;
        width: 27.5%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__scroll {
        // border: 1px solid red;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: calc(100vh - 400px);
        padding: 25px;
        padding-bottom: 0;
    }
}
.view {
    &__layout {
        // border: 1px solid red;
        background: white;
        border-radius: 10px;
        width: 100%;
        height: 300px;
        padding: 25px;     
        box-shadow: 0px 4px 20px -5px #193c2a5c;   
    }
    &__banner {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__bannerImg {
        height: 100%;
        width: auto;
        // outline: 5px;
        // outline-color: white;
        // outline-style: solid;
        // box-shadow: 0px 4px 20px -5px #193c2a5c;
        border-radius: 10px;
    }
    &__bannerContent {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        margin-left: 50px;
    }
    &__title {
        font-size: 45px;
        font-family: font_B;
        margin-bottom: 25px;
        color: $main;
    }
    &__sub {
        font-size: 20px;
        font-family: font_M;
        color: $sub;
    }
    &__bannerButtons {
        // border: 1px solid red;
        position: relative;
        bottom: -95px;
    }
    &__edit {
        // float: right;
        background: $common;
        color: white;
        font-family: font_M;
        font-size: 14px;
        padding: 5px 20px;
        border-radius: 5px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background: $main;
            transition: 0.2s;
        }
    }
}