.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: white;
    border-color: white white #00a651 white;
    border-width: 0px 0px 4px 0px;
    border-radius: 0px;
    font-weight: bold;
}